@font-face {
  font-family: "Komika Title - Axis";
  src: url("/fonts/KomikaTitle-Axis.ttf") format("ttf");
  /* src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #481281;
  color: white;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

button {
  font-family: inherit;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 1.875rem;
  text-align: center;
}

h1,
h2 {
  font-family: "Komika Title - Axis";
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 2.1rem;
  margin-bottom: 1rem;
}

.light-text {
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}

nav > div {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  text-transform: capitalize;
  display: none;
}

nav li {
  padding: 0.625rem 1.875rem;
  margin: 0 0.5rem;
}

nav button {
  background-color: transparent;
}

#logo {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

#hamburger {
  width: 31px;
  height: 12px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

#hamburger span {
  width: 100%;
  height: 0.5px;
  background-color: white;
}

#hero {
  padding: 60px 20px 0;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  top: 31%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* background-color: black; */
  background-image: url("/img/wavy\ bg.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
}

#hero p {
  margin-bottom: 56px;
}

#input {
  display: flex;
  justify-content: center;
}

#input button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2.1875rem;
  width: 7.8125rem;
  background-color: #481281;
  right: 5px;
  z-index: 4;
}

#input-wrapper {
  position: relative;
  width: 100%;
  max-width: 350px;
}

input {
  width: 100%;
  height: 43px;
  background-color: #521594;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0 20px 0 20px;
  /* margin: 0 auto; */
}

input::placeholder {
  color: #e9d5ff;
}

input:focus {
  outline: none;
}

#imgs {
  display: grid;
  max-width: 100vw;
  grid-template: repeat(3, 300px) / 1fr;
  gap: 20px;
  margin-top: 40px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.875rem;
}

@media only screen and (min-width: 768px) {
  nav {
    padding: 10px 30px;
  }

  nav ul {
    display: flex;
  }

  nav button {
    background-color: #521594;
    height: 2.1875rem;
  width: 7.8125rem;
  }

  #hamburger {
    display: none;
  }

  #imgs {
    grid-template: 350px / 1fr 1.5fr 1fr;
    gap: 40px;
  }

  #imgs :nth-child(2) {
    margin-top: 50px;
  }
}
